---
id: "root"
---

<html>
  <head>
    <script src="src/index.js" type="module"></script>
  </head>
  <body>
    <div id="{{ id }}"></div>
    <div>
      <h1>"Netlify"</h1>
      <p>Ветка Deploy</p>
    </div>
  </body>
</html>